.bookList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}


.bookList > li {
  display: block;
  width: 10rem;
  list-style-type: none;
  padding: 0.5rem;
}

.bookList > li > a {
  text-decoration: none;
  color: black;
}

.bookList > li > a:hover {
  text-decoration: underline;
}

